<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
	<configSections>
		<sectionGroup name="serviceSites">
			<section name="site" type="System.Configuration.NameValueFileSectionHandler, System,&#xA;        Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
			<section name="siteUrl" type="System.Configuration.NameValueFileSectionHandler, System,&#xA;        Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
			<section name="siteToken" type="System.Configuration.NameValueFileSectionHandler, System,&#xA;        Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		</sectionGroup>
	</configSections>
	<connectionStrings>
  <add name="DBString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=milnets;Persist Security Info=True;User ID=sa;Password=123456"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<!--来自原来的网站BEGIN-->
	<serviceSites>
		<!--
	    注意保持 key 值的一致且不重复，key 可以为馆代码，比如：
        <add key="601" value="本地"/>
        <add key="901" value="分馆1"/>
        <add key="902" value="分馆2"/>
        <add key="903" value="分馆3"/>
        <add key="904" value="分馆4"/>
	-->
		<site>
			<add key="601" value="空指"/>
			<add key="001" value="国防大学"/>
		</site>
		<siteUrl>
			<add key="601" value="local"/>
			<!-- 此值不可修改 -->
			<add key="002" value="http://localhost/milnets/searchservice.asmx"/>
		</siteUrl>
		<siteToken>
			<add key="601" value=""/>
			<add key="001" value="changeme"/>
		</siteToken>
	</serviceSites>
	<!--来自原来的网站END-->
	<!--在线编辑器的配置-->
	<appSettings>
		<add key="FileType" value="exe|7z|chm|aiff|asf|avi|bmp|csv|doc|fla|flv|gif|gz|gzip|jpeg|jpg|mid|mov|mp3|mp4|mpc|mpeg|mpg|ods|odt|pdf|png|ppt|pxd|qt|ram|rar|rm|rmi|rmvb|rtf|sdc|sitd|swf|sxc|sxw|tar|tgz|tif|tiff|txt|vsd|wav|wma|wmv|xls|xml|zip"/>
		<add key="FilePath" value="~/FileUpload/"/>
		<add key="ImagesType" value="gif|jpg|png|jpeg|bmp"/>
		<add key="ImageThumbnailWidth" value="200"/>
		<add key="ImageThumbnailHeight" value="200"/>
		<add key="ImageThumbnailPath" value="/FileUpload/News/"/>
		<add key="FCKeditor:UserFilesPath" value="~/FileUpload/News/"/>
		<add key="FCKeditor:BasePath" value="~/fckeditor/"/>
		<add key="FCKeditor:SkinPath" value="editor/skins/office2003/"/>
		<!--别人要想利用你的 Web Service，必须有这个令牌-->
		<add key="serviceToken" value="changeme"/>
	</appSettings>
	<system.web>
		<!--来自原来的网站BEGIN-->
		<pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
				<add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit"/>
			</controls>
		</pages>
		<!--来自原来的网站END-->
		<!--定义文件上传最大值-->
		<httpRuntime maxRequestLength="1200000" executionTimeout="900"/>
		<sessionState mode="InProc" cookieless="false" timeout="20"></sessionState>
		  <!-- 
            设置 compilation debug="true" 将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies></compilation>
		<!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 
        -->
		<authentication mode="Windows"/>
		<!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。
        -->
		<customErrors mode="RemoteOnly" defaultRedirect="~/error.htm">
			<error statusCode="403" redirect="~/error.htm"/>
			<error statusCode="404" redirect="~/error.htm"/>
		</customErrors>
	</system.web>
</configuration>
